* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

body {
  /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

  /*background: color image repeat position/size8*/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  width: 360px;
  margin: auto;
  border: 1px solid white;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}
